<?xml version="1.0" encoding="utf-8"?>
<TimelineConfig>
  <Enabled>true</Enabled>
  <OverlayVisible>true</OverlayVisible>
  <Left>384</Left>
  <Top>11</Top>
  <Width>302</Width>
  <Height>392</Height>
  <NoticeLeft>395</NoticeLeft>
  <NoticeTop>390</NoticeTop>
  <NoticeWidth>308</NoticeWidth>
  <NoticeHeight>127</NoticeHeight>
  <IsMute>false</IsMute>
  <Clickthrough>false</Clickthrough>
  <OverlayOpacity>1</OverlayOpacity>
  <OverlayScale>1</OverlayScale>
  <NearestActivityScale>1.2</NearestActivityScale>
  <NextActivityBrightness>0.8</NextActivityBrightness>
  <ShowActivitiesCount>10</ShowActivitiesCount>
  <ShowActivitiesTime>120</ShowActivitiesTime>
  <ShowProgressBarTime>15</ShowProgressBarTime>
  <IndicatorVisible>true</IndicatorVisible>
  <IndicatorStyle>HEADER</IndicatorStyle>
  <ActivityMargin>3 8 3 0</ActivityMargin>
  <OverlayBackground>#00000000</OverlayBackground>
  <Styles>
    <Style>
      <Name>Default</Name>
      <IsDefault>true</IsDefault>
      <IsDefaultNotice>true</IsDefaultNotice>
      <Font FontFamily="Microsoft YaHei" Size="15" Stretch="Normal" Style="Normal" Weight="Normal" />
      <Color>#FFFFFFFF</Color>
      <OutlineColor>#FF000000</OutlineColor>
      <BarColor>#FFEAD395</BarColor>
      <BarHeight>2</BarHeight>
      <IsCircleStyle>false</IsCircleStyle>
      <Icon />
      <IconSize>24</IconSize>
    </Style>
    <Style>
      <Name>HEADER</Name>
      <IsDefault>false</IsDefault>
      <IsDefaultNotice>false</IsDefaultNotice>
      <Font FontFamily="Microsoft YaHei" Size="24" Stretch="Normal" Style="Normal" Weight="Bold" />
      <Color>#FFFFFFFF</Color>
      <OutlineColor>#FF000000</OutlineColor>
      <BarColor>#FFBCA98A</BarColor>
      <BarHeight>2</BarHeight>
      <IsCircleStyle>false</IsCircleStyle>
      <Icon />
      <IconSize>24</IconSize>
    </Style>
    <Style>
      <Name>NOTICE</Name>
      <IsDefault>false</IsDefault>
      <IsDefaultNotice>false</IsDefaultNotice>
      <Font FontFamily="Microsoft YaHei" Size="24" Stretch="Normal" Style="Normal" Weight="Bold" />
      <Color>#FFFFFFFF</Color>
      <OutlineColor>#FF000000</OutlineColor>
      <BarColor>#00000000</BarColor>
      <BarHeight>0</BarHeight>
      <IsCircleStyle>false</IsCircleStyle>
      <Icon />
      <IconSize>72</IconSize>
    </Style>
    <Style>
      <Name>NOTICE_NORMAL</Name>
      <IsDefault>false</IsDefault>
      <IsDefaultNotice>false</IsDefaultNotice>
      <Font FontFamily="Microsoft YaHei" Size="24" Stretch="Normal" Style="Normal" Weight="Bold" />
      <Color>#FFFFFFFF</Color>
      <OutlineColor>#FF000000</OutlineColor>
      <BarColor>#00000000</BarColor>
      <BarHeight>0</BarHeight>
      <IsCircleStyle>false</IsCircleStyle>
      <Icon />
      <IconSize>72</IconSize>
    </Style>
    <Style>
      <Name>TANK</Name>
      <IsDefault>false</IsDefault>
      <IsDefaultNotice>false</IsDefaultNotice>
      <Font FontFamily="Microsoft YaHei" Size="15" Stretch="Normal" Style="Normal" Weight="Normal" />
      <Color>#FF00BFFF</Color>
      <OutlineColor>#FF000000</OutlineColor>
      <BarColor>#FF00BFFF</BarColor>
      <BarHeight>2</BarHeight>
      <IsCircleStyle>false</IsCircleStyle>
      <Icon />
      <IconSize>24</IconSize>
    </Style>
    <Style>
      <Name>HEAL</Name>
      <IsDefault>false</IsDefault>
      <IsDefaultNotice>false</IsDefaultNotice>
      <Font FontFamily="Microsoft YaHei" Size="15" Stretch="Normal" Style="Normal" Weight="Normal" />
      <Color>#FF7CFC00</Color>
      <OutlineColor>#FF000000</OutlineColor>
      <BarColor>#FF7CFC00</BarColor>
      <BarHeight>2</BarHeight>
      <IsCircleStyle>false</IsCircleStyle>
      <Icon />
      <IconSize>24</IconSize>
    </Style>
    <Style>
      <Name>DPS</Name>
      <IsDefault>false</IsDefault>
      <IsDefaultNotice>false</IsDefaultNotice>
      <Font FontFamily="Microsoft YaHei" Size="15" Stretch="Normal" Style="Normal" Weight="Normal" />
      <Color>#FFFF4500</Color>
      <OutlineColor>#FF000000</OutlineColor>
      <BarColor>#FFFF4500</BarColor>
      <BarHeight>2</BarHeight>
      <IsCircleStyle>false</IsCircleStyle>
      <Icon />
      <IconSize>24</IconSize>
    </Style>
    <Style>
      <Name>ORANGE</Name>
      <IsDefault>false</IsDefault>
      <IsDefaultNotice>false</IsDefaultNotice>
      <Font FontFamily="Microsoft YaHei" Size="15" Stretch="Normal" Style="Normal" Weight="Normal" />
      <Color>#FFFFA500</Color>
      <OutlineColor>#FF000000</OutlineColor>
      <BarColor>#FFFFA500</BarColor>
      <BarHeight>2</BarHeight>
      <IsCircleStyle>false</IsCircleStyle>
      <Icon />
      <IconSize>24</IconSize>
    </Style>
    <Style>
      <Name>YELLOW</Name>
      <IsDefault>false</IsDefault>
      <IsDefaultNotice>false</IsDefaultNotice>
      <Font FontFamily="Microsoft YaHei" Size="15" Stretch="Normal" Style="Normal" Weight="Normal" />
      <Color>#FFFFD900</Color>
      <OutlineColor>#FF000000</OutlineColor>
      <BarColor>#FFFFD900</BarColor>
      <BarHeight>2</BarHeight>
      <IsCircleStyle>false</IsCircleStyle>
      <Icon />
      <IconSize>24</IconSize>
    </Style>
    <Style>
      <Name>PURPLE</Name>
      <IsDefault>false</IsDefault>
      <IsDefaultNotice>false</IsDefaultNotice>
      <Font FontFamily="Microsoft YaHei" Size="15" Stretch="Normal" Style="Normal" Weight="Normal" />
      <Color>#FF9370DB</Color>
      <OutlineColor>#FF000000</OutlineColor>
      <BarColor>#FF9370DB</BarColor>
      <BarHeight>2</BarHeight>
      <IsCircleStyle>false</IsCircleStyle>
      <Icon />
      <IconSize>24</IconSize>
    </Style>
  </Styles>
  <IgnoreLogs>
    <IgnoreLog code="15" type="NetworkAbility" 忽略="true" />
    <IgnoreLog code="16" type="NetworkAOEAbility" 忽略="true" />
    <IgnoreLog code="17" type="NetworkCancelAbility" 忽略="true" />
    <IgnoreLog code="18" type="NetworkDoT" 忽略="true" />
    <IgnoreLog code="19" type="NetworkDeath" 忽略="true" />
    <IgnoreLog code="0D" type="CombatantHP" 忽略="false" />
  </IgnoreLogs>
</TimelineConfig>
