url https://github.com/canisminor1990/ffxiv-timeline/archive/master.zip

copy 欧米茄零式时空狭缝 (西格玛幻境1).xml Plugin/ACT.Hojoring/resources/时间轴文件/欧米茄零式时空狭缝 (西格玛幻境1).xml
copy 欧米茄零式时空狭缝 (西格玛幻境2).xml Plugin/ACT.Hojoring/resources/时间轴文件/欧米茄零式时空狭缝 (西格玛幻境2).xml
copy 欧米茄零式时空狭缝 (西格玛幻境3).xml Plugin/ACT.Hojoring/resources/时间轴文件/欧米茄零式时空狭缝 (西格玛幻境3).xml
copy 欧米茄零式时空狭缝 (西格玛幻境4).xml Plugin/ACT.Hojoring/resources/时间轴文件/欧米茄零式时空狭缝 (西格玛幻境4).xml
copy 白虎诗魂战.xml Plugin/ACT.Hojoring/resources/时间轴文件/白虎诗魂战.xml